<div class="card bg-card text-dark">
  <div class="card-header">
  Detalle Cliente
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul class="list-group text-dark mb-3">
          <li class="list-group">
              <div class="col-sm">
                <img src="http://localhost:8087/api/uploads/img/{{cliente.imagen}}" alt="{{cliente.imagen}}"
                 class="img-thumbnail row" style="width: 300px;">
              </div>
          </li>
          <li class="list-group">Nombre: {{cliente.nombre}}</li>
          <li class="list-group">Apellido: {{cliente.apellido}}</li>
          <li class="list-group">Email: {{cliente.email}}</li>
          <li class="list-group">Telefono: {{cliente.telefono}}</li>
          <li class="list-group">Region: {{cliente.region.nombre}}</li>
          <li class="list-group">Fecha: {{cliente.createAt}}</li>


        </ul>

        <div class="input-group">
          <div class="custom-file">
            <input (change)="seleccionarImagen($event)" type="file"
            class="custom-file-input" id="inputImg">
            <label for="inputImg" class="custom-file-label">Buscar Imagen</label>
          </div>
          <div class="input-group-append">
            <button (click)="subirImagen()">Guardar</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

